//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
// Primary
$primary:       									#1B425E;
$primary-active:    								#17354b;
$primary-light:    									#96cff8;
$primary-inverse:  									#FFFFFF;

// Success
$success:       									#45C0BE;
$success-active:    								#289492;
$success-light:    									#b6fffe;
$success-inverse:  									#FFFFFF;

// Info
$info:       									    #45C0BE;
$info-active:    									#289492;
$info-light:    									#aeeceb;
$info-inverse:  									#FFFFFF;

// Danger
$danger:       									    #f13c45;
$danger-active:    									#d92121;
$danger-light:    									#ffefef; 
$danger-inverse:  									#FFFFFF;

// Warning
$warning:       									#F09E1F;
$warning-active:    								#d68204;
$warning-light:    									#f8deb7;
$warning-inverse:  									#FFFFFF;

// Border Radiues
$border-radius-sm:            						.3rem;
$border-radius:               						.65rem;
$border-radius-lg:            						.85rem;
$border-radius-xl:                                  1.25rem;

// Card Box Shadow
$card-box-shadow:                                   0px 0px 20px 0px rgba(76,87,125,0.02);
